# General
IRIS_HOST=
IRIS_PORT=

# TLS
IRIS_TLS_ENABLED=false
IRIS_TLS_KEY_FILE=
IRIS_TLS_CERT_FILE=

# ML Engines
IRIS_ML_ENGINES_COUNT=2

IRIS_ML_ENGINE_0_NAME=my-openai
IRIS_ML_ENGINE_0_TYPE=openai
IRIS_ML_ENGINE_0_URL=https://api.openai.com/v1
IRIS_ML_ENGINE_0_API_KEY=""

IRIS_ML_ENGINE_1_NAME=my-openai
IRIS_ML_ENGINE_1_TYPE=openai
IRIS_ML_ENGINE_1_URL=https://api.openai.com/v1
IRIS_ML_ENGINE_1_API_KEY=""

# Pipeline
IRIS_PIPELINE_STT_MODEL=whisper-large-v3-turbo
IRIS_PIPELINE_STT_ENGINE_NAME=my-openai
IRIS_PIPELINE_STT_ENGINE_ENABLED=true

IRIS_PIPELINE_OCR_MODEL=deepseek-ocr
IRIS_PIPELINE_OCR_ENGINE_NAME=my-ollama
IRIS_PIPELINE_OCR_ENGINE_ENABLED=true

IRIS_PIPELINE_LLM_MODEL="qwen3-vl:8b"
IRIS_PIPELINE_LLM_ENGINE_NAME=my-ollama
IRIS_PIPELINE_LLM_VISION_VISION_MODEL=true
IRIS_PIPELINE_LLM_ENGINE_ENABLED=true

IRIS_PIPELINE_TTS_MODEL="qwen3-tts"
IRIS_PIPELINE_TTS_ENGINE_NAME=my-openai
IRIS_PIPELINE_TTS_ENGINE_ENABLED=true